---
---
@import "{{ site.theme }}";
/* image text wrap CSS */

.imgLeft {
  float:left;
  margin: 0 10px 10px;
  width:60%;
  vertical-algin:top;
  border:1px solid #021a40;
 }
 
 .clearLeft {
  clear:left;
 }
 
 /* end image text wrap CSS */
