---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lobster');
/* image text wrap CSS */

.imgLeft {
  float:left;
  margin: 0 10px 10px 0;
  width:60%;
  vertical-align:top;
  border:1px solid #021a40;
 }
 
 .clearLeft {
  clear:left;
 }
 /* end image text wrap CSS */

.btnflt-l {
  float:left;
  border-radius: 4px;
  background-color:#3a6186;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
 }

.btnflt-r {
  float:right;
  border-radius: 4px;
  background-color:#3a6186;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: auto;
  cursor: pointer;
  margin: 5px;
 }

.page-header {
    color: #fff;
    text-align: center;
    background-color: #9494b8;
    background-image: linear-gradient(120deg, #52527a, #ffffff);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #666699;
    font-family: 'Lobster', cursive;
}

.btn {
  color: #52527a
}

.title {
  color: #52527a
  font-family: 'Lobster', cursive;
}
